<h2>Configure Store MDRs</h2>
<%=link_to "Configure Store Terminal", store_terminals_path%>
<div class="div">  <h3>Add New MDR</h3>
  <hr>
    <%=form_for(@store_mdr,:url=> store_store_mdrs_path,:method => 'post') do |f|%>
        <%= f.select :payment_mode, ["Credit Card ", "Debit Card", "Rupay Card","UPI","Commercial / International Card","Amex Card","Any other","Rent"]  %>
        <%= f.text_field :rate_amount , placeholder: "Rate Amount" %>
        <%= f.select :rate_type, ["Persentage ", "Fixed"]  %>
        <%= f.text_field :upto_amount, placeholder: "UpTo Amount"%>
        <%= f.text_field :from_amount , placeholder: "From Amount"%>
        <%= f.submit %>
    <% end %>
 </div>

 <table>
 <tr>
     <th>payment_mode</th>
     <th>rate_amount</th>
     <th>rate_type</th>
     <th>upto_amount</th>
     <th>from_amount</th>  
 </tr>
 <% @store_mdrs.each do |store_mdr| %>
 <tr>
 <td ><%=store_mdr.payment_mode%></td> 
 <td><%=store_mdr.rate_amount%></td>
 <td><%=store_mdr.rate_type%></td>
 <td><%=store_mdr.upto_amount%></td>
 <td><%=store_mdr.from_amount%></td>

 </tr>
 <%end%>

</table>
  

 
