
<div class="row">
<div class="col">
<table>
  <tr class="table_row_style">
    <th >STORE NAME* </th>
    <td><%= f.text_field :store_name%></td>
    <th class="table_head">STORE ADDRESS*</th>
    <td class="table_head"><%= f.text_field :store_address%></td>
  </tr>
  
  <tr>
    <th >STORE PHONE NUMBER</th>
    <td><%= f.text_field  :store_phone_number%></td>
    <th class="table_head">EMAIL ID</th>
    <td class="table_head"><%= f.text_field :email%></td>
    </tr>
    
    <tr>
    <th >OWNER NAME*</th>
    <td><%= f.text_field :owner_name%></td>
    <th class="table_head" >STORE OWNER PHONE NUMBER*</th>
    <td class="table_head"><%= f.text_field:store_owner_phone_number%></td>
    </tr>
    
  <tr>
  <th>GST NO</th>
  <td><%= f.text_field :gst_no%></td>
  <th class="table_head">GST CERTIFICATE </th>
  <td class="table_head"><%= f.file_field :gst_certificate%></td>
  </tr>
  
  <tr>
    <th>PAN NO*</th>
    <td><%= f.text_field :pan_no%></td>
    <th class="table_head">UPLOAD PAN CARD*</th>
    <td class="table_head"><%= f.file_field :pan_card%></td>
  </tr>


  <tr>
    <th>TRADE LICENSE</th>
    <td><%= f.text_field :trade_license%></td>
    <th class="table_head">UPLOAD TRADE LICENSE CERTIFICATE</th>
    <td class="table_head"><%= f.file_field :trade_license_certificate%></td>
  </tr>
  <tr>
      <th >CHOOSE BANK*</th>
      <td ><%= f.select :bank_id,Bank.all.pluck(:bank_name,:id),{prompt:'select'},{class: "form-control"}%></td>
      <th class="table_head">UPLOAD STORE ACQUISITION FORM *</th>
      <td class="table_head"><%= f.file_field :store_acquisition_form%></td>
  
  </tr>

  
  
  <tr>
  <th>DEALER NAME</th>
  <td><%= f.text_field :dealer_name %></td>
  <th class="table_head">DEALER SALES PERSON</th>
      <td class="table_head"><%= f.text_field :dealer_sales_person%></td>
  </tr>
      
      
      
  
  <tr class="table_row_style">
    <th>BANK NAME*</th>
    <td><%= f.text_field :bank_name%></td>
    <th class="table_head">BANK BRANCH ADDRESS</th>
    <td class="table_head"><%= f.text_field :bank_branch_address%></td> 
  </tr>
  <tr>
   <th>ACCOUNT NO*</th>
   <td><%= f.text_field :account_no%></td>
   <th class="table_head">IFSC CODE*</th>
   <td class="table_head"><%= f.text_field :ifsc_code%></td>
   </tr>
  <tr>
   <th></th>
   <td></td>
   <th class="table_head" >UPLOAD CANCELLED CHEQUE* </th>
    <td class="table_head"><%= f.file_field :uploading_of_cancelled_cheque%></td>
  </tr>
  </table>
  </div>
  </div>
  

 