
<table>
  <tr>
    <th >STORE NAME &nbsp;&nbsp;</th>
    <td><%= f.text_field :store_name%></td>
    <th>store_address&nbsp;&nbsp;</th>
    <td><%= f.text_field :store_address%></td>
  </tr>
  
  <tr>
    <th >store_phone_number&nbsp;&nbsp;</th>
    <td><%= f.telephone_field :store_phone_number%></td>
    <th>owner_name&nbsp;&nbsp;</th>
    <td><%= f.text_field :owner_name%></td>
  </tr>

  <tr>
    <th >store_owner_phone_number &nbsp;&nbsp;</th>
    <td><%= f.telephone_field:store_owner_phone_number%></td>
    <th>store_address&nbsp;&nbsp;</th>
    <td><%= f.text_field :store_address%></td>
  </tr>

  <tr>
    <th >email &nbsp;&nbsp;</th>
    <td><%= f.text_field :email%></td>
    <th>gst_no&nbsp;&nbsp;</th>
    <td><%= f.text_field :gst_no%></td>
  </tr>

  <tr>
    <th >gst_no_certificate &nbsp;&nbsp;</th>
    <td><%= f.file_field :store_name%></td>
    <th>pan_no;&nbsp;</th>
    <td><%= f.text_field :pan_no%></td>
  </tr>


  <tr>
    <th >pan_card &nbsp;&nbsp;</th>
    <td><%= f.file_field :store_name%></td>
    <th>trade_licence;&nbsp;</th>
    <td><%= f.text_field :trade_licence%></td>
  </tr>

  <tr>
    <th >trade_licence_certificate &nbsp;&nbsp;</th>
    <td><%= f.file_field :store_name%></td>
    <th>Bank_details;&nbsp;</th>
    <td><%= f.text_field :Bank_details%></td>
  </tr>


  <tr>
    <th >uploading_of_cancelled_cheque &nbsp;&nbsp;</th>
    <td><%= f.file_field :uploading_of_cancelled_cheque%></td>
    <th>dealer_name;&nbsp;</th>
    <td><%= f.text_field :dealer_name %></td>
  </tr>


  <tr>
    <th >store_acquisition_form &nbsp;&nbsp;</th>
    <td><%= f.file_field :store_acquisition_form%></td>
    
  </tr>
  </table>
  