<p class="heading_1">All Store</p>
<div class= "container">

<%= link_to "create store", new_store_path, class:"next_btn "%> 

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Store ID</th>
      <th scope="col">Store Name</th>
      <th scope="col">Address</th>
      <th scope="col">Report</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @stores.each do |store| %>
    <tr>
      <th scope="row"><%=store.id%></th>
      <td><%=link_to store.store_name,store_path(store.id), id:'show', class:"remove_underline"%></td>
      <td><%=store.store_address%></td>
      <td><%=link_to image_tag("/assets/report_icon_3.png", border: 0,size:"20x20",class:"back-icon"),stores_path%></td>
      <td><%=link_to image_tag("/assets/edit_icon_4.png", border: 0,size:"20x20",class:"back-icon"),edit_store_path(store.id)%>

      <%=link_to image_tag("/assets/delete_icon.png", border: 0,size:"20x20",class:"back-icon"),store_path(store.id), :method => :delete %>
      </td>
    </tr>
    <%end%>
     
  </tbody>
</table>
</div>