<h1>All Store</h1>

<%= link_to "create store", new_store_path %>



    <table>
    <tr>
        <th>Store ID</th>
        <th>Store Name</th>
        <th>Address</th>
        <th>Report</th>
        <th>Action</th>
        
    </tr>
    <% @stores.each do |store| %>
    <tr>
    <td ><%=store.id%></td>
    <td><%=link_to store.store_name,store_path(store), id:'show'%></td>
    <td><%=store.store_address%></td>
    <td><%=link_to image_tag("/assets/report_icon_3.png", border: 0,size:"20x20",class:"back-icon"),stores_path%></td>
    <td>
         <%=link_to image_tag("/assets/edit_icon_4.png", border: 0,size:"20x20",class:"back-icon"),edit_store_path(store.id)%>

          <%=link_to image_tag("/assets/delete_icon.png", border: 0,size:"20x20",class:"back-icon"),store_path(store.id), :method => :delete %>
    </td>
    </tr>
    <%end%>
   
</table>