
<h1>creat a new store</h1>
<% if @store.errors.any? %>
  <%= @store.errors.full_messages %>
<% end %>
<%=form_for(@store,:url=>stores_path,:method => 'post') do |f|%>
<%=render(:partial =>'form',:locals=>{:f=>f})%>
<%= f.select :bank_id,Bank.all.pluck(:bank_name,:id),{prompt:'select'},{class: "form-control"}%>

<%= f.submit "Next",class:"btn button", type:"submit"%>
<%end%>