


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex-container" style=" height: 550px" >
  
  <div class="log_in_form" style="  padding: 20px;">  <p>Login  MDR program </p>
  
  <%=f.text_field :email, placeholder: "Email"%>
  
  <%=f.password_field :password, placeholder: "password"%>
   <span style="color:red; font-size: 14px;" ><%= alert %></span>
  
  <p>
  <%= f.submit 'Log In' %>
  </p>
  <%= render "devise/shared/links" %>
  </div>
  </div>
  <% end %>
  